//body { background:image-url('main_bg.jpg') repeat-x #b6873a;}
//#m_signup { width:100%; background:asset-url('main_bg01.jpg') no-repeat top center; min-height:1650px; overflow:hidden}
//body {  width:100%; background: #f7e397; min-height:1650px; overflow:hidden }
//#m_signup input.btn { background-color: transparent; border: 1px solid transparent; }
//#m_signup input:focus {     border-color: transparent;
//  outline: 0;
//  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
//  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}