<div class="section03">
  <img src="assets/karo.png" class="heartshape" alt="">

  <div class="sub_section03">

    <div class="section_left">
      <!--<div class="title_section"><h3>Win credits <span class="boldtxt">via Fortune Wheel</span></h3></div>-->
      <div class="sec_desc">
        <!--<img src="assets/power-jackpot.png" alt="">-->
        <%= render partial: "shared/fortune_wheel" %>
        <!--<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Etiam at vestibulum quam. Maecenas iaculis elementum leo quis imperdiet. Aliquam et mauris sit amet metus tempor ultrices. Sed at magna nunc. Donec in quam tortor, quis eleifend erat. Nullam cursus sagittis facilisi</p>-->
        <!--<p>Etiam blandit, neque a venenatis tincidunt, erat nunc ornare augue, in facilisis nisl justo bibendum diam. Etiam quis quam felis. Proin quis quam magna.</p>-->
      </div>
    </div>

    <div class="section_right">

      <% if @creditList.present? && @creditList.any? %>
          <% if current_user
               class_list = "credits"
               btn_label = "Buy"
               url = user_orders_path(current_user)
             else
               class_list = "credits_big"
               btn_label = "Login and Buy"
               url = signin_path
             end %>
          <table class="contact_table ">
            <thead>
            <tr>
              <th>$</th>
              <th>credits</th>
              <th>action</th>
            </tr>
            </thead>
            <tbody>
            <% @creditList.each do |credit| %>
                <%= render partial: "orders/form_btn_buy", locals: {object: credit.try(:order) || @order, credit: credit, btn_label: btn_label} %>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="3"></td>
            </tr>
            </tfoot>
          </table>
          </div>
      <% else %>
          no any credits found
      <% end %>

      <div class="clr"></div>
      </div>

  <div class="clr"></div>
</div>