<ul>
 <% [ 'bingo_bash.jpg',
'black_jack.jpg',
'caribbean_poker.jpg',
'cha_chingo.jpg',
'classic_777_slots.jpg',
'european_roulette.jpg',
'safari_sam_slots.jpg',
'texas_holdem.gif',
'wheel_of_fortune_vegas_edition.jpg',
'wild_savanna_slots.jpg'
].shuffle.each do |img_name| %>
      <li>
        <div class="game_img"><%= image_tag "games/#{img_name}", alt:img_name.split('.')[0], width:'100%' %></div>
        <div class="game_price"><%= img_name.split('.')[0].split('_').join(' ').upcase %></div>
      </li>
<% end %>
</ul>