<ul>
 <% [ 'bingo_bash.jpeg',
'black_jack.jpeg',
'caribbean_poker.jpeg',
'cha_chingo.jpeg',
'classic_777_slots.jpeg',
'european_roulette.jpeg',
'safari_sam_slots.jpeg',
'texas_holdem.gif',
'wheel_of_fortune_vegas_edition.jpeg',
'wild_savanna_slots.jpeg'
].shuffle.each do |img_name| %>
      <li>
        <div class="game_img"><%= image_tag "games/#{img_name}", alt:img_name.split('.')[0], width:'100%' %></div>
        <div class="game_price"><%= img_name.split('.')[0].split('_').join(' ').upcase %></div>
      </li>
<% end %>
</ul>