<div id="contentarea_1">
  <div class="section03">
    <%= image_tag "heart-shape.png", class:"heartshape", alt:"" %>
    <div class="left_content">
      <h2 class="title">Start the <strong>best gaming experience</strong></h2>
      <!--<p><span class="boldtxt">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit. Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus. </p>-->

      <!--<p>Maecenas mollis molestie elit, vitae ultrices erat vehicula nec. Integer fermentum lacinia eleifend. Nam pharetra luctus diam eu dictum. Nunc in nibh eu elit tristique facilisis sit amet nec lectus. Donec id interdum metus. Curabitur tristique gravida odio quis rutrum.  <span class="boldtxt">Phasellus imperdiet sapien</span> vel ligula hendrerit non tincidunt est congue. Duis id dolor erat. Sed laoreet consequat nisi, vel gravida enim pharetra vitae. Sed imperdiet massa ac augue consequat laoreet. Donec molestie eros diam, vitae vulputate leo.</p>-->
      <%= render partial: "home/game" %>
    </div>


    <div class="rightside_section">
      <div class="rightboxes">
        <div class="live_casino">
          <div class="casino_title"><h3>LIVE CASINO</h3></div>
          <div class="casino_text"><p>Start playing and get<br>FREE money. </p></div>
          <div class="offer_bonus_text"><%= image_tag "welcome-bonus.png", alt:"" %></div>
        </div>
      </div>

      <%= render partial: "shared_new/rsidebar_games" %>

      <% render partial: "shared_new/rsidebar_jackpot" %>
    </div>
    <div class="clr"></div>

  </div>
</div>

