<div class="section03 no_padding" id="sign_in_up">
  <!--<img src="assets/karo.png" class="heartshape" alt="">-->

  <div class="sub_section03 no_padding">
    <div class="section_left">
      <%= link_to image_tag("facebook_signin"), '/auth/facebook', class: 'img-responsive' %>

      <!--<div class="title_section"><h3>Win credits <span class="boldtxt">via Fortune Wheel</span></h3></div>-->
      <!--<div class="sec_desc">-->
        <!--<img src="assets/power-jackpot.png" alt="">-->
         <!--<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Etiam at vestibulum quam. Maecenas iaculis elementum leo quis imperdiet. Aliquam et mauris sit amet metus tempor ultrices. Sed at magna nunc. Donec in quam tortor, quis eleifend erat. Nullam cursus sagittis facilisi</p>-->
        <!--<p>Etiam blandit, neque a venenatis tincidunt, erat nunc ornare augue, in facilisis nisl justo bibendum diam. Etiam quis quam felis. Proin quis quam magna.</p>-->
      <!--</div>-->
    </div>

    <div class="section_right">
      <%= link_to image_tag("facebook_signup"), '/auth/facebook', class: 'img-responsive' %>
    </div>
  </div>
</div>
