<div class="section_red">
  <div class="section_red_inner">&nbsp;
    <%= image_tag "cashe-credit-free-banner.png", class:"freespin_banner", alt:"" %>
    <%= image_tag "karo.png", alt:"", class:"karoshape" %>
    <div class="redtext_section">
      <h3>Start playing - win 100% welcome bonus</h3>
      <ul>
        <li>Mauris volutpat auctor sodales. </li>
        <li>Aenean ullamcorper vestibulum tellus</li>
        <li>Nec volutpat tellus vulputate vitae. </li>
        <li>Integer in dolor eu ligula imperdiet fermentum sed eget ante</li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
