<div class="rightboxes">
  <div class="live_casino">
    <div class="casino_title"><h3>LIVE CASINO</h3></div>
    <div class="casino_text"><p>Start playing and get<br>FREE money. </p></div>
    <div class="offer_bonus_text"><%= image_tag "welcome-bonus.png", alt:"" %></div>
  </div>
</div>