<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::POWER JACKPOT::</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="css/scrolling.css" />
<script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
<script type='text/javascript' src="js/tab.js"></script>
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="js/jquery.vticker-min.js"></script>
<script type="text/javascript">
$(function(){
	$('#top_jackpot_text').vTicker({ 
		speed: 500,
		pause: 3000,
		animation: 'fade',
		mousePause: false,
		showItems:5
	});
});

</script>
</head>
<body>
<!--wrapper -->
<div id="wrapper">
<!--topsection -->
<div id="topsection">
    <div class="topsection_inner">
    <img src="images/leaf.png" alt="" class="leaf" />
<!--main_ligo -->
      <div class="main_logo"><a href="#"><img src="images/power_main_logo.png" alt=""/></a></div>
      <!--main_ligo -->
      <!--text01 -->
      <div class="text01">
       <h4>Jackpots<br />
        <span> $3,977,353</span></h4>
      </div>
      <!--text01 -->
      <!--text02 -->
      <div class="text02">
        <h4>Players online
<span>7,246</span></h4>
      </div>
      <!--text02 -->
     <!--navogarion -->
     <div class="navigation">
      <table><tr>
          <td class="home"><a href="index.html" >Home </a></td>
          <td class="getting_started"><a href="started.html">Getting Started</a></td>
          <td class="payment_method"><a href="payment.html">Payment Methods</a></td>
          <td class="games"><a href="game.html">Games</a></td>
          <td class="tournament"><a href="tournaments.html">Tournaments</a></td>
          <td class="aboutus"><a href="about-us.html">About Us</a></td>
		  <td class="aboutus"><a href="blog-list.html" class="select">Blog</a></td>
          <td class="contact"><a href="contactus.html">Contact</a></td>
      </tr></table>
      </div>
     <!--navogarion -->
     <div class="left_reb"><img src="images/left_reb.png" alt=""/></div>
     <div class="right_reb"><img src="images/right_reab.png"  alt=""/></div>
    </div>
</div>
<!--topsection -->
<!--contentarea -->
<div id="contentarea_1">
	<div class="section03">
    	<img src="images/heart-shape.png" class="heartshape" alt="" />
		<div class="left_content">
        	<div class="blog_section">
            	<div class="title_section"><h3>This is <strong>post title</strong></h3>
                <div class="blog_postby">12th August 2012  /  <a href="#">Admin</a></div>
                </div>
                <div class="blog_posted">
                	<div class="singlepost">
                    	<div class="post_img"><img src="images/Blog-post-image.jpg" alt="" /></div>
                    	<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus. </p>

<p>Maecenas mollis molestie elit, vitae ultrices erat vehicula nec. Integer fermentum lacinia eleifend. Nam pharetra luctus diam eu dictum. Nunc in nibh eu elit tristique facilisis sit amet nec lectus. Donec id interdum metus. Curabitur tristique gravida odio quis rutrum.  <strong>Phasellus imperdiet sapien</strong> vel ligula hendrerit non tincidunt est congue. Duis id dolor erat. Sed laoreet consequat nisi, vel gravida enim pharetra vitae. Sed imperdiet massa ac augue consequat laoreet. Donec molestie eros diam, vitae vulputate leo.</p>
<p>&nbsp;</p>
<div class="specialtxt_section"><p>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit. Nulla vestibulum lectus  
lacus vulputate vulputate. 
Nulla pretium quam eu leo tristique.</p> </div><p>Maecenas mollis molestie elit, vitae ultrices erat vehicula nec. Integer fermentum lacinia eleifend. </p>
<p>Ut sagittis fringilla felis, sed aliquet libero mollis eget. Phasellus hendrerit rhoncus augue nec fermentum. Phasellus quis tortor tortor, nec rhoncus ligula. Nunc elit ligula, sagittis tincidunt tempus ut, interdum vel erat.</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>
<strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. </p>

<p>Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus. Sed quis lacus est, a euismod leo. Nullam egestas laoreet diam, sed aliquam lorem convallis fermentum. Aliquam congue tincidunt velit vitae pulvinar. Etiam semper viverra sapien, quis porttitor arcu scelerisque feugiat. Nulla facilisi. Nunc felis nunc, dapibus id feugiat nec, cursus a lorem.</p>

<p>Aenean a lectus mauris, ac euismod tellus. Pellentesque et augue tellus. Sed in bibendum lorem. Ut tempor ante at justo sagittis iaculis. Vivamus eleifend justo quis massa lobortis vel mattis elit gravida. Etiam at velit eu eros varius ornare. </p>
                    </div>  
                    <div class="comemntbox">
                        <div class="title_section"><h3>Comments</h3><div class="blog_counter">10</div></div>
                        <div class="comemnt_post">
                        	<div class="commnt">
                            	<div class="comnt_img"><img src="images/comment-img01.jpg" alt="" /></div>
                                <div class="comnt_desc">
                                	<div class="comm_title">
                                    	<h3>Johne Dove</h3>
                                        <h5>September 18th 2012   :  <a href="#">reply</a></h5>
                                    <div class="clr"></div>
                                    </div>
                                    <p>Morbi consequat, tellus et lacinia sollicitudin, diam lacus consectetur sapien, sed aliquet erat mauris at enim. Nunc nec augue arcu. Vivamus tincidunt lectus sit amet elit feugiat ut pellentesque sem luctus. Nam tortor enim, posuere vitae sollicitudin ac, tempor in nulla. </p>
                                
                                <div class="clr"></div>
                                </div>
                            <div class="clr"></div>
                            </div>
                        <div class="clr"></div>
                        </div>
                        
                        <div class="comemnt_post">
                        	<div class="commnt_sub">
                            	<div class="comnt_img"><img src="images/comment-img02.jpg" alt="" /></div>
                                <div class="comnt_desc">
                                	<div class="comm_title">
                                    	<h3>Johne Dove</h3>
                                        <h5>September 21th 2012   :  <a href="#">reply</a></h5>
                                    <div class="clr"></div>
                                    </div>
                                    <p>Morbi consequat, tellus et lacinia sollicitudin, diam lacus consectetur sapien, sed aliquet erat mauris at enim. Nunc nec augue arcu. Vivamus tincidunt lectus sit amet elit feugiat ut pellentesque sem luctus. Nam tortor enim, posuere vitae sollicitudin ac, tempor in nulla. </p>
                                
                                <div class="clr"></div>
                                </div>
                            <div class="clr"></div>
                            </div>
                        <div class="clr"></div>
                        </div>
                        
                        <div class="write_comments">
                        	<div class="img_upload"><img src="images/img-upload.jpg" alt="" /></div>
                        	<div class="comment_formbox">
                            	<div class="rows01">
                                	<div class="txtbox01"><input type="text" value="Your Name" onblur="if(this.value == '') { this.value='Your Name'}" onfocus="if (this.value == 'Your Name') {this.value=''}" /></div>
                                    <div class="txtbox01"><input type="text" value="Your Email" onblur="if(this.value == '') { this.value='Your Email'}" onfocus="if (this.value == 'Your Email') {this.value=''}" /></div>
                                </div>
                                <div class="rows01">
                                	<div class="textareabox01">
                                   		<textarea rows="10" cols="10" onblur="if(this.value == '') { this.value='Your comment.'}" onfocus="if (this.value == 'Your comment.') {this.value=''}">Your comment.</textarea> 	
                                    </div>
                                </div>
                                <div class="clr"></div>
                                <div class="rows01">
                                	<input type="submit" value="Send comment" />
                                <div class="clr"></div>
                                </div>
                            </div>
                        
                        </div>
                    </div>  
                    
                </div>
                
                
            <div class="clr"></div>
            </div>   
        </div>	    
        <div class="rightside_section">
        	<div class="rightboxes">
            	<div class="share_box">
                	<div class="title_sec"><h3>SHARE EXPERIENCE</h3></div>
                    <div class="share_logos">
                        <ul>
                            <li><a href="#"><img src="images/share-fb.png" alt="Facebook" /></a></li>
                            <li><a href="#"><img src="images/share-linkedin.png" alt="Linked In" /></a></li>
                            <li><a href="#"><img src="images/share-feed.png" alt="Feed" /></a></li>
                            <li><a href="#"><img src="images/share-twitter.png" alt="Twitter" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        	<div class="rightboxes">
            	<div class="post_latest">
                	<div class="tab_content1">
                        <ul>
                            <li style="width:89px;"><a href="JavaScript:void(0);" class="select">Latest</a></li>
                            <li style="width:128px;"><a href="JavaScript:void(0);">Popular</a></li>
                        </ul>
                    </div>
                    <div class="tab_details1">
                    	<div class="post01">
                        	<ul>
                            	<li>
                                	<h3>Post title</h3> 
                                    <p>12.08.2012</p>
                                </li>
                                <li>
                                	<h3>Vivamus eleifend justo quis</h3> 
                                    <p>12.08.2012</p>
                                </li>
                                <li>
                                	<h3>Post title</h3> 
                                    <p>12.08.2012</p>
                                </li>
                                <li>
                                	<h3>Post title</h3> 
                                    <p>12.08.2012</p>
                                </li>
                            </ul>
                        </div>
                        <div class="post01" style="display:none;">
                        	<ul>
                            	<li>
                                	<h3>Post title</h3> 
                                    <p>12.08.2012</p>
                                </li>
                                <li>
                                	<h3>Proin dolor nis</h3> 
                                    <p>12.08.2012</p>
                                </li>
                                <li>
                                	<h3>Pellentesque aliquet laoreet</h3> 
                                    <p>12.08.2012</p>
                                </li>
                                <li>
                                	<h3>Vivamus eleifend justo quis</h3> 
                                    <p>12.08.2012</p>
                                </li>
                            </ul>
                        
                        </div>
                        
                    </div>	
                    
                </div>
            <div class="clr"></div>
            </div>
        	<div class="rightboxes">
            	<div class="live_casino">
                	<div class="casino_title"><h3>LIVE CASINO</h3></div>
                    <div class="casino_text"><p>Start playing and get<br />FREE money. </p></div>
                    <div class="offer_bonus_text"><img src="images/welcome-bonus.png" alt="" /></div>
                </div>
            </div>
           <div class="rightboxes">
            	<div class="top_jackpot">
                	<div class="title_sec"><h3>TOP JACKPOT</h3></div>
                    <div id="top_jackpot_text">
                    <ul>
                    	<li>
                        	<div class="box_number">1.</div>
                            <div class="box_img"><a href="#"><img src="images/s1.jpg" alt="" /></a></div>
                            <a href="#"><h5>Mega Moolah Isis</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">2.</div>
                            <div class="box_img"><a href="#"><img src="images/s2.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Mega Moolah</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">3.</div>
                            <div class="box_img"><a href="#"><img src="images/s3.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Arabian Nights</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">4.</div>
                            <div class="box_img"><a href="#"><img src="images/s4.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Solo Alladin</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">5.</div>
                            <div class="box_img"><a href="#"><img src="images/s5.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Nola for Fun</h5></a>
                        </li>

                       <li>
                        	<div class="box_number">6.</div>
                            <div class="box_img"><a href="#"><img src="images/s1.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Mega Moolah Isis</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">7.</div>
                            <div class="box_img"><a href="#"><img src="images/s2.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Mega Moolah</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">8.</div>
                            <div class="box_img"><a href="#"><img src="images/s3.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Arabian Nights</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">9.</div>
                            <div class="box_img"><a href="#"><img src="images/s4.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Solo Alladin</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">10.</div>
                            <div class="box_img"><a href="#"><img src="images/s5.jpg"  alt=""/></a></div>
                            <a href="#"><h5>Nola for Fun</h5></a>
                        </li>

                    </ul>
                    </div>
                <div class="clr"></div>
                </div>
            </div>
        </div>	
    <div class="clr"></div>
    </div>
</div>
<!--contentarea -->
<!--red section -->
	<div class="section_red">
        <div class="section_red_inner">&nbsp;
        <img src="images/cashe-credit-free-banner.png" class="freespin_banner" alt="" />
        <img src="images/karo.png" alt="" class="karoshape" />
        <div class="redtext_section">
        	<h3>Start playing - win 100% welcome bonus</h3>
            <ul>
                <li>Mauris volutpat auctor sodales. </li>
                <li>Aenean ullamcorper vestibulum tellus</li>
                <li>Nec volutpat tellus vulputate vitae. </li>
                <li>Integer in dolor eu ligula imperdiet fermentum sed eget ante</li>
            </ul>
        </div>
        <div class="clr"></div>
        </div>
     </div>
<!--red section -->
<!--footer_section -->
<div class="footer_section">

<!--footer top section -->	
<div class="footersection-top">
	<div class="footertop_inner">
    	
<div class="social_media">
        	<ul>
           	  <li><a href="#"><img src="images/media-fb.png" alt="Facebook" /></a></li>
              <li><a href="#"><img src="images/media-twitter.png" alt="twitter" /></a></li>
            </ul>
        </div>
        <div class="footerbox01">
        	<ul>
            	<li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Responsible Gambling</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Affiliate Program</a></li>
            </ul>
        </div>
        <div class="footerbox02">
       	  <h3>Safety of your account</h3>
            <img src="images/safesecure-logo.jpg" alt="Safe Secure Banking" class="imgright" />
          <ul>
            <li><a href="#">Fully certified casino</a></li>   
                <li><a href="#">Strictly regulated fair games</a></li>    
                <li><a href="#">Safe monetary deposits</a></li>    
                <li><a href="#">Award winning casino</a></li> 
          </ul> 
        </div>
    </div>	
</div>
<!--footer top section -->
<!--footer_section_bottom -->
    <div class="footer_section_bottom">
      <div class="footer_section_bottom_inner">&nbsp;
       <div class="footer_logo">
       	<div class="logo_section"><img src="images/footer-logo.png" alt="" /></div>	
        <p class="copyright">Rights reserved,  2012.</p>
       </div>
       <div class="footer_bottomleftpart"><img src="images/visa.jpg" alt=""/></div>
       <div class="footer_bottomrightpart">Design by: Prospekt d.o.o.</div>
       <div class="clr"></div>
      </div>
    </div>
<!--footer_section_bottom -->
</div>
<!--footer_section -->

</div>
<!--wrapper -->



</body>
</html>
