<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::POWER JACKPOT::</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />
</head>

<body>
<!--wrapper -->
<div id="wrapper">
<!--topsection -->
<div id="topsection">
    <div class="topsection_inner">
    <img src="images/leaf.png" alt="" class="leaf" />
<!--main_ligo -->
      <div class="main_logo"><a href="#"><img src="images/power_main_logo.png" alt=""/></a></div>
      <!--main_ligo -->
      <!--text01 -->
      <div class="text01">
       <h4>Jackpots<br />
        <span> $3,977,353</span></h4>
      </div>
      <!--text01 -->
      <!--text02 -->
      <div class="text02">
        <h4>Players online
<span>7,246</span></h4>
      </div>
      <!--text02 -->
     <!--navogarion -->
     <div class="navigation">
      <table><tr>
          <td class="home"><a href="index.html" >Home </a></td>
          <td class="getting_started"><a href="started.html">Getting Started</a></td>
          <td class="payment_method"><a href="payment.html">Payment Methods</a></td>
          <td class="games"><a href="game.html">Games</a></td>
          <td class="tournament"><a href="tournaments.html">Tournaments</a></td>
          <td class="aboutus"><a href="about-us.html">About Us</a></td>
		  <td class="aboutus"><a href="blog-list.html">Blog</a></td>
          <td class="contact"><a href="contactus.html" class="select">Contact</a></td>
      </tr></table>
      </div>
     <!--navogarion -->
     <div class="left_reb"><img src="images/left_reb.png" alt=""/></div>
     <div class="right_reb"><img src="images/right_reab.png"  alt=""/></div>
    </div>
</div>
<!--topsection -->
<!--contentarea -->
<div id="contentarea_1">
	<div class="section04">
    	<div class="section04_inner">
        	<div class="left_text_section">
            	<div class="box01"><img src="images/visit-live-game-casino.png" alt="" /></div>
                <div class="clr"></div>
                <p>Pellentesque et augue tellus. Sed in bibendum lorem. Ut tempor ante at justo sagittis iaculis. Vivamus eleifend justo quis massa loborti.</p>
            </div>
            <div class="rightdisplay_section">
            	<div class="img-frame">Place google code here.</div>
                
            </div>
        </div>
    </div>
	<div class="section03">
    	<img src="images/heart-shape.png" class="heartshape" alt="" />
		<div class="sub_section03">
        	
            <div class="section_left">
                <div class="title_section"><h3>We offer <span class="boldtxt">great support</span></h3></div>
                <div class="sec_desc">
                <img src="images/power-jackpot.png" alt="" />
                <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Etiam at vestibulum quam. Maecenas iaculis elementum leo quis imperdiet. Aliquam et mauris sit amet metus tempor ultrices. Sed at magna nunc. Donec in quam tortor, quis eleifend erat. Nullam cursus sagittis facilisi</p> 
              <p>Etiam blandit, neque a venenatis tincidunt, erat nunc ornare augue, in facilisis nisl justo bibendum diam. Etiam quis quam felis. Proin quis quam magna.</p></div>
            </div> 
            
            <div class="section_right">
            	<table class="contact_table">
                	<thead>
                    	<tr>
                        	<th>Language</th>
                            <th>Country</th>
                            <th>Number</th>
                        </tr>
                    </thead>  
                    <tbody>
                    	<tr class="odd">
                        	<td><strong>English</strong> </td>
                            <td>UK </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="even">
                        	<td><em>24/7</em></td>
                            <td>Australia </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="odd">
                        	<td></td>
                            <td>USA </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="even">
                        	<td></td>
                            <td>Hong-Kong </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="odd">
                        	<td><strong>French</strong> </td>
                            <td>Canada </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="even">
                        	<td><em>weekends (9-17)</em></td>
                            <td>France </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="odd">
                        	<td></td>
                            <td>Netherlands </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="even">
                        	<td></td>
                            <td>Swizerland </td>
                            <td>00123-456789 </td>
                        </tr>
                        
                        <tr class="odd">
                        	<td><strong>German</strong> </td>
                            <td>Germany</td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="even">
                        	<td><em>mon-fri (9-17)</em></td>
                            <td>Austria </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="odd">
                        	<td></td>
                            <td>Belgium </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="even">
                        	<td></td>
                            <td>Swizerland </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="odd">
                        	<td><strong>Spanish</strong> </td>
                            <td>Germany</td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="even">
                        	<td><em>mon-fri (9-17)</em></td>
                            <td>Austria </td>
                            <td>00123-456789 </td>
                        </tr>
                        <tr class="odd">
                        	<td></td>
                            <td>Belgium </td>
                            <td>00123-456789 </td>
                        </tr>
                    </tbody> 
                    <tfoot>
                    	<tr>
                        	<td colspan="3">The call is free if you call from listed country.</td>
                        </tr>
                    </tfoot> 
                </table>
            </div>
        
        <div class="clr"></div>
        </div>	   
         
        	
    <div class="clr"></div>
    </div>
    
    
</div>
<!--contentarea -->
<div class="section_contact">
	<div class="section_contact_inner">
    	<div class="contact_red_fallingline">
        	<div class="contact_address">
            	<h4>Head office</h4>
            	<p>30 Your Street Name<br />
Los Angeles, CA 94108, USA<br />
Phone: (123) 456-7890<br />
Email: <a href="contact@powerjackpot.com">contact@powerjackpot.com</a><br />
Web: <a href="http://www.powerjackpot.com">www.powerjackpot.com</a></p>
            
            </div>
        </div>
        
        <div class="contact_form">
        	<div class="rows01">
                <div class="txtbox02">

<input type="text" value="Your name*" onblur="if(this.value == '') { this.value='Your name*'}" onfocus="if (this.value == 'Your name*') {this.value=''}">
</div>
                <div class="txtbox02"><input type="text" value="Your Email*" onblur="if(this.value == '') { this.value='Your Email*'}" onfocus="if (this.value == 'Your Email*') {this.value=''}" /></div>
                <div class="txtbox02"><input type="text" value="Subject" onblur="if(this.value == '') { this.value='Subject'}" onfocus="if (this.value == 'Subject') {this.value=''}" /></div>
            </div>
            <div class="rows01">
                <div class="textareabox02">
                    <textarea rows="10" cols="10" onblur="if(this.value == '') { this.value='Your comment.'}" onfocus="if (this.value == 'Your comment.') {this.value=''}">Your comment.</textarea> 	
                </div>
            </div>
            <div class="clr"></div>
            <div class="rows01">
            	<h5>It might take few days before we answer</h5>
                <input type="submit" value="Send" />
            <div class="clr"></div>
            </div>
        </div>
    </div>
</div>
<!--footer_section -->
<div class="footer_section">

<!--footer top section -->	
<div class="footersection-top">
	<div class="footertop_inner">
    	<img src="images/karo.png" alt="" class="karoshape" />	
<div class="social_media">
        	<ul>
           	  <li><a href="#"><img src="images/media-fb.png" alt="Facebook" /></a></li>
              <li><a href="#"><img src="images/media-twitter.png" alt="twitter" /></a></li>
            </ul>
        </div>
        <div class="footerbox01">
        	<ul>
            	<li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Responsible Gambling</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Affiliate Program</a></li>
            </ul>
        </div>
        <div class="footerbox02">
       	  <h3>Safety of your account</h3>
            <img src="images/safesecure-logo.jpg" alt="Safe Secure Banking" class="imgright" />
          <ul>
            <li><a href="#">Fully certified casino</a></li>   
                <li><a href="#">Strictly regulated fair games</a></li>    
                <li><a href="#">Safe monetary deposits</a></li>    
                <li><a href="#">Award winning casino</a></li> 
          </ul> 
        </div>
    </div>	
</div>
<!--footer top section -->
<!--footer_section_bottom -->
    <div class="footer_section_bottom">
      <div class="footer_section_bottom_inner">&nbsp;
       <div class="footer_logo">
       	<div class="logo_section"><img src="images/footer-logo.png" alt="" /></div>	
        <p class="copyright">Rights reserved,  2012.</p>
       </div>
       <div class="footer_bottomleftpart"><img src="images/visa.jpg" alt=""/></div>
       <div class="footer_bottomrightpart">Design by: Prospekt d.o.o.</div>
       <div class="clr"></div>
      </div>
    </div>
<!--footer_section_bottom -->
</div>
<!--footer_section -->

</div>
<!--wrapper -->



</body>
</html>
