<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::POWER JACKPOT::</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />

<script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="js/tab.js"></script>
<!--[if lt IE 9 ]> 
<link rel="stylesheet" type="text/css" href="css/style-ie.css"
<![endif]-->
</head>

<body>
<!--wrapper -->
<div id="wrapper">
<!--topsection -->
<div id="topsection">
    <div class="topsection_inner">
    <img src="images/leaf.png" alt="" class="leaf" />
<!--main_ligo -->
      <div class="main_logo"><a href="#"><img src="images/power_main_logo.png" alt=""/></a></div>
      <!--main_ligo -->
      <!--text01 -->
      <div class="text01">
       <h4>Jackpots<br />
        <span> $3,977,353</span></h4>
      </div>
      <!--text01 -->
      <!--text02 -->
      <div class="text02">
        <h4>Players online
<span>7,246</span></h4>
      </div>
      <!--text02 -->
     <!--navogarion -->
     <div class="navigation">
      <table><tr>
          <td class="home"><a href="index.html" >Home </a></td>
          <td class="getting_started"><a href="started.html">Getting Started</a></td>
          <td class="payment_method"><a href="payment.html">Payment Methods</a></td>
          <td class="games"><a href="game.html" class="select">Games</a></td>
          <td class="tournament"><a href="tournaments.html">Tournaments</a></td>
          <td class="aboutus"><a href="about-us.html">About Us</a></td>
		  <td class="aboutus"><a href="blog-list.html" >Blog</a></td>
          <td class="contact"><a href="contactus.html">Contact</a></td>
      </tr></table>
      </div>
     <!--navogarion -->
     <div class="left_reb"><img src="images/left_reb.png" alt=""/></div>
     <div class="right_reb"><img src="images/right_reab.png"  alt=""/></div>
    </div>
</div>
<!--topsection -->
<!--contentarea -->
<div id="contentarea_1">
	<div class="section04">
    	<div class="section04_inner">
        	<div class="left_text_section">
            	<div class="box01"><img src="images/choose-from-230games.png" alt="" /></div>
                <div class="clr"></div>
                <p>Try your hand at hundreds of  classic and video animated games, right here at your fingertips!</p>
            </div>
            <div class="rightdisplay_section">
            	<h3>game of the week</h3>
                <div class="img-frame"><img src="images/game-powerjackpot.jpg" alt="" /></div>
                <div class="playnow01"><a href="#"><img src="images/game-playnow-btn.png" alt="Play Now" /></a></div>
            </div>
        </div>
    </div>
	<div class="section03">
    	<img src="images/heart-shape.png" class="heartshape" alt="" />
		<div class="sub_section01">
        	<div class="try_mobileversion"><img src="images/try-mobile.png" alt="" /><h5>Available at iStore.</h5> </div>
            <div class="title_section"><h3>Choose form <span class="boldtxt">Sloth Progressive Games</span></h3>
            <div class="blog_counter">10</div>
            </div>
            <div class="sec_desc"><p>Each time sany of players plays a progressive jackpot game, the  prize value increases. Mauris volutpat auctor sodales. Aenean ullamcorper vestibulum tellus, nec volutpat tellus vulputate vitae. Pellentesque porta elementum velit ut molestie. Integer in dolor eu ligula imperdiet fermentum sed eget ante. Nullam condimentum aliquam vestibulum.</p> 
<p>Aliquam ut magna arcu, quis suscipit ipsum. Proin interdum egestas lacus nec sagittis. Duis ullamcorper vehicula porta. Quisque sit amet dolor lacus, quis pellentesque dui.</p></div> 
        </div>	   
        <div class="sub_section02">
 <!--tab start -->

<div class="tab_box">
                        <div class="tab_content" style="width:633px;">
                        <div class="sort_tabsection">
                          <ul>
                            <li><a href="JavaScript:void(0);" class="select">Popular games</a></li>
                            <li><a href="JavaScript:void(0);">New games</a></li>
                            <li><a href="JavaScript:void(0);">Best bonus</a></li>
                            <li><a href="JavaScript:void(0);">A-Z</a></li>
                          </ul>
                          </div>
                        </div>
                        <div class="clr"></div>
                        <div class="tab_details">
                          <!--tab news start -->
                          <div class="tab_inner active">
                          <div class="sorted_display">
            	<ul>
                	<li>
                    	<div class="game_img"><img src="images/sl1.jpg" alt="" /></div>
                        <div class="game_price">&euro;1,594,499.95</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl2.jpg" alt=""/></div>
                        <div class="game_price">&euro;24,807,368</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl3.jpg" alt=""/></div>
                        <div class="game_price">&euro;335,001,21</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl4.jpg" alt=""/></div>
                        <div class="game_price">&euro;548,874,20</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl5.jpg" alt=""/></div>
                        <div class="game_price">&euro;2,259,47</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl6.jpg" alt=""/></div>
                        <div class="game_price">&euro;1,594,499.95</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl7.jpg" alt=""/></div>
                        <div class="game_price">&euro;24,807,368</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl8.jpg" alt=""/></div>
                        <div class="game_price">&euro;335,001,21</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl9.jpg" alt=""/></div>
                        <div class="game_price">&euro;548,874,20</div>
                    </li>
                    <li>
                    	<div class="game_img"><img src="images/sl10.jpg" alt=""/></div>
                        <div class="game_price">&euro;2,259,47</div>
                    </li>
                </ul>
            <div class="clr"></div>
            </div>
                          </div>
                          <!--tab news end -->
                          <!--tab comment start -->
                          <div class="tab_inner">
                          <div class="sorted_display">
            	<ul>
                	<li>
                    	<div class="game_imgpink"><img src="images/sl11.jpg" alt=""/></div>
                        <div class="game_price">&euro;1,594,499.95</div>
                    </li>
                    <li>
                    	<div class="game_imgpink"><img src="images/sl12.jpg" alt=""/></div>
                        <div class="game_price">&euro;24,807,368</div>
                    </li>
                    <li>
                    	<div class="game_imgpink"><img src="images/sl13.jpg" alt=""/></div>
                        <div class="game_price">&euro;335,001,21</div>
                    </li>
                    <li>
                    	<div class="game_imgpink"><img src="images/sl14.jpg" alt=""/></div>
                        <div class="game_price">&euro;548,874,20</div>
                    </li>
                    <li>
                    	<div class="game_imgpink"><img src="images/sl15.jpg" alt=""/></div>
                        <div class="game_price">&euro;2,259,47</div>
                    </li>
                    <li>
                    	<div class="game_imgpink"><img src="images/sl16.jpg" alt=""/></div>
                        <div class="game_price">&euro;1,594,499.95</div>
                    </li>
                    <li>
                    	<div class="game_imgpink"><img src="images/sl17.jpg" alt=""/></div>
                        <div class="game_price">&euro;24,807,368</div>
                    </li>
                    <li>
                    	<div class="game_imgpink"><img src="images/sl18.jpg" alt=""/></div>
                        <div class="game_price">&euro;335,001,21</div>
                    </li>
                    <li>
                    	<div class="game_imgpink"><img src="images/sl19.jpg" alt=""/></div>
                        <div class="game_price">&euro;548,874,20</div>
                    </li>
                   
                </ul>
            <div class="clr"></div>
            </div>
                          </div>
                          <!--tab comment end -->
                          <!--tab comment start -->
                          <div class="tab_inner"  >
                         <div class="sorted_display">
            	<ul>
                	<li>
                    	<div class="game_imggreen"><img src="images/sl19.jpg" alt=""/></div>
                        <div class="game_price">&euro;1,594,499.95</div>
                    </li>
                    <li>
                    	<div class="game_imggreen"><img src="images/sl13.jpg" alt=""/></div>
                        <div class="game_price">&euro;24,807,368</div>
                    </li>
                    <li>
                    	<div class="game_imggreen"><img src="images/sl8.jpg" alt=""/></div>
                        <div class="game_price">&euro;335,001,21</div>
                    </li>
                    <li>
                    	<div class="game_imggreen"><img src="images/sl6.jpg" alt=""/></div>
                        <div class="game_price">&euro;548,874,20</div>
                    </li>
                    <li>
                    	<div class="game_imggreen"><img src="images/sl11.jpg" alt=""/></div>
                        <div class="game_price">&euro;2,259,47</div>
                    </li>
                    <li>
                    	<div class="game_imggreen"><img src="images/sl3.jpg" alt=""/></div>
                        <div class="game_price">&euro;1,594,499.95</div>
                    </li>
                    <li>
                    	<div class="game_imggreen"><img src="images/sl4.jpg" alt=""/></div>
                        <div class="game_price">&euro;24,807,368</div>
                    </li>
                    <li>
                    	<div class="game_imggreen"><img src="images/sl18.jpg" alt=""/></div>
                        <div class="game_price">&euro;335,001,21</div>
                    </li>
                   
                </ul>
            <div class="clr"></div>
            </div>
                          </div>
                          <!--tab comment end -->
                          <!--tab comment start -->
                          <div class="tab_inner">
                        <div class="sorted_display">
            	<ul>
                	<li>
                    	<div class="game_imgsky"><img src="images/sl4.jpg" alt=""/></div>
                        <div class="game_price">&euro;1,594,499.95</div>
                    </li>
                    <li>
                    	<div class="game_imgsky"><img src="images/sl10.jpg" alt=""/></div>
                        <div class="game_price">&euro;24,807,368</div>
                    </li>
                    <li>
                    	<div class="game_imgsky"><img src="images/sl2.jpg" alt=""/></div>
                        <div class="game_price">&euro;335,001,21</div>
                    </li>
                    <li>
                    	<div class="game_imgsky"><img src="images/sl15.jpg" alt=""/></div>
                        <div class="game_price">&euro;548,874,20</div>
                    </li>
                    <li>
                    	<div class="game_imgsky"><img src="images/sl6.jpg" alt=""/></div>
                        <div class="game_price">&euro;2,259,47</div>
                    </li>
                    <li>
                    	<div class="game_imgsky"><img src="images/sl7.jpg" alt=""/></div>
                        <div class="game_price">&euro;1,594,499.95</div>
                    </li>
                    <li>
                    	<div class="game_imgsky"><img src="images/sl9.jpg" alt=""/></div>
                        <div class="game_price">&euro;24,807,368</div>
                    </li>
                    
                </ul>
            <div class="clr"></div>
            </div>
                          </div>
                          <!--tab comment end -->
                        </div>
                      </div>

 <!--tab end -->
        </div> 
        	
    <div class="clr"></div>
    </div>
    
    <div class="section05">
    	<div class="section05_inner">
        	<img src="images/karo.png" alt="" class="karoshape" />
        	<div class="download_sec">
            	<div class="download_innertext"><p><span>Download FREE software</span><br /> 
and play Progressive Slots now. </p></div>
            </div>
            <p class="downtxt">In order to participate in the thrills of progressive jackpot games, players will need to download the full casino software, as progressive jackpot games are not available to enjoy in the Flash Lite Play version of the casino. </p>
        </div>	
    </div>
</div>
<!--contentarea -->
<!--red section -->
	<div class="section_red">
        <div class="section_red_inner">&nbsp;
        <img src="images/cashe-credit-free-banner.png" class="freespin_banner" alt="" />
        <div class="redtext_section">
        	<h3>Start playing - win 100% welcome bonus</h3>
            <ul>
                <li>Mauris volutpat auctor sodales. </li>
                <li>Aenean ullamcorper vestibulum tellus</li>
                <li>Nec volutpat tellus vulputate vitae. </li>
                <li>Integer in dolor eu ligula imperdiet fermentum sed eget ante</li>
            </ul>
        </div>
        <div class="clr"></div>
        </div>
     </div>
<!--red section -->
<!--footer_section -->
<div class="footer_section">

<!--footer top section -->	
<div class="footersection-top">
	<div class="footertop_inner">
    	
<div class="social_media">
        	<ul>
           	  <li><a href="#"><img src="images/media-fb.png" alt="Facebook" /></a></li>
              <li><a href="#"><img src="images/media-twitter.png" alt="twitter" /></a></li>
            </ul>
        </div>
        <div class="footerbox01">
        	<ul>
            	<li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Responsible Gambling</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Affiliate Program</a></li>
            </ul>
        </div>
        <div class="footerbox02">
       	  <h3>Safety of your account</h3>
            <img src="images/safesecure-logo.jpg" alt="Safe Secure Banking" class="imgright" />
          <ul>
            <li><a href="#">Fully certified casino</a></li>   
                <li><a href="#">Strictly regulated fair games</a></li>    
                <li><a href="#">Safe monetary deposits</a></li>    
                <li><a href="#">Award winning casino</a></li> 
          </ul> 
        </div>
    </div>	
</div>
<!--footer top section -->
<!--footer_section_bottom -->
    <div class="footer_section_bottom">
      <div class="footer_section_bottom_inner">&nbsp;
       <div class="footer_logo">
       	<div class="logo_section"><img src="images/footer-logo.png" alt="" /></div>	
        <p class="copyright">Rights reserved,  2012.</p>
       </div>
       <div class="footer_bottomleftpart"><img src="images/visa.jpg" alt=""/></div>
       <div class="footer_bottomrightpart">Design by: Prospekt d.o.o.</div>
       <div class="clr"></div>
      </div>
    </div>
<!--footer_section_bottom -->
</div>
<!--footer_section -->

</div>
<!--wrapper -->



</body>
</html>
