<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::POWER JACKPOT::</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
    $(window).load(function() {
		effect:'fade',
        $('#slider').nivoSlider()
		
    });
    </script>
</head>

<body>
<!--wrapper -->
<div id="wrapper">
<!--topsection -->
<div id="topsection">
    <div class="topsection_inner">
    <img src="images/leaf.png" alt="" class="leaf" />
<!--main_ligo -->
      <div class="main_logo"><a href="#"><img src="images/power_main_logo.png" alt=""/></a></div>
      <!--main_ligo -->
      <!--text01 -->
      <div class="text01">
       <h4>Jackpots<br />
        <span> $3,977,353</span></h4>
      </div>
      <!--text01 -->
      <!--text02 -->
      <div class="text02">
        <h4>Players online
<span>7,246</span></h4>
      </div>
      <!--text02 -->
     <!--navogarion -->
     <div class="navigation">
      <table><tr>
          <td class="home"><a href="index.html" class="select">Home </a></td>
          <td class="getting_started"><a href="started.html">Getting Started</a></td>
          <td class="payment_method"><a href="payment.html">Payment Methods</a></td>
          <td class="games"><a href="game.html">Games</a></td>
          <td class="tournament"><a href="tournaments.html">Tournaments</a></td>
          <td class="aboutus"><a href="about-us.html">About Us</a></td>
		  <td class="aboutus"><a href="blog-list.html">Blog</a></td>
          <td class="contact"><a href="contactus.html">Contact</a></td>
      </tr></table>
      </div>
     <!--navogarion -->
     <div class="left_reb"><img src="images/left_reb.png" alt=""/></div>
     <div class="right_reb"><img src="images/right_reab.png"  alt=""/></div>
    </div>
</div>
<!--topsection -->
<!--slider_section -->
<div id="slider_section">
   <div class="slider_section_inner">
   <div id="slider-wrapper">
    <div id="slider" class="nivoSlider"> 
        <a href="#"><img src="images/banner_01.png" alt=""/></a>
		<a href="#"><img src="images/banner_time.png" alt=""/></a>
        <a href="#"><img src="images/banner_02.png" alt=""/></a>
		<a href="#"><img src="images/banner_time.png" alt=""/></a>
        <a href="#"><img src="images/banner_03.png" alt=""/></a>
		<a href="#"><img src="images/banner_timea.png" alt=""/></a>
        <a href="#"><img src="images/banner_04.png" alt=""/></a> 
		<a href="#"><img src="images/banner_time.png" alt=""/></a>
    </div>
  </div>
   </div>
</div>
<!--slider_section -->
<!--contentarea -->
<div id="contentarea">
	<div class="section01">
    	<h2>Top rated Online casino with over <span>98,000</span> active members.</h2>
        <div class="game_box">
            <div class="box01">
                <h3>LIVE CASINO</h3>
            	<p>Real dealers, actions and wins!<br />
            1.000 of games to choos from.</p>
			<div class="container" ><img src="images/box-image.jpg" alt="" /></div>
            	<a href="#" > <span class="text-buttons">Play now</span><img src="images/playnow_redbtn.png" class="btn_action" alt=""  /></a>
            </div>
            <div class="box02">
            	<h3>SPIN SLOTS</h3>
            	<p>Big wins and unique featrures<br />
Play time bonuses and tournaments.</p>
				<div class="container" ><img src="images/box-image.jpg" alt="" /></div>
            	<a href="#"><span class="text-buttons">Spin slots</span><img src="images/choosegame_blkbtn.png" class="btn_action" alt="" /></a>
            </div>
            <div class="box03">
            	<h3>ROULETTE</h3>
            	<p>Spin the Roulette wheel and get<br />
great bonuses and surprises!</p>
				<div class="container" ><img src="images/box-image.jpg" alt="" /></div>
            	<a href="#"><span class="text-buttons">Spin wheel</span><img src="images/takeaspin_yellowbtn.png" class="btn_action" alt="" /></a>
            </div>
            <div class="box04">
            	<h3>PLAY POKER</h3>
            	<p>Omaha, Texas Hold’em, Classic<br />
Tournaments start every minute.</p>
				<div class="container" ><img src="images/box-image.jpg" alt="" /></div>
            	<a href="#"><span class="text-buttons">Play Poker</span><img src="images/jointable_yellowbtn.png" class="btn_action" alt="" /></a>
            </div>
            <div class="clr"></div>
        </div>
    </div>

    <div class="section02">
    	<img src="images/heart-shape.png" class="heartshape" alt="" />
    	<a href="#"><img src="images/promotion_banner.png" class="promo_banner" alt="" /></a>
        <div class="stepsbox">
        	<div class="box01">
            	<div class="number"><img src="images/number01.png" alt="" /></div>
                <p>Download the<br /><strong>POWER JACKPOT</strong> SOFTWARE</p>
            </div>
            <div class="box02">
                <div class="number"><img src="images/number02.png" alt="" /></div>
                <p><strong>Create an acount</strong> <br /> and Register to page</p>
            </div>
            <div class="box03">
                <div class="number"><img src="images/number03.png" alt="" /></div>
                <p>Click the button<br /><strong>"START FREE PLAY"</strong></p>
            </div>
        </div>
    </div>
</div>
<!--contentarea -->
<!--footer_section -->
<div class="footer_section">
<!--footer top section -->
<div class="footersection-top">
	<div class="footertop_inner">
    	<img src="images/karo.png" alt="" class="karoshape" />
<div class="social_media">
        	<ul>
           	  <li><a href="#"><img src="images/media-fb.png" alt="Facebook" /></a></li>
              <li><a href="#"><img src="images/media-twitter.png" alt="twitter" /></a></li>
            </ul>
        </div>
        <div class="footerbox01">
        	<ul>
            	<li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Responsible Gambling</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Affiliate Program</a></li>
            </ul>
        </div>
        <div class="footerbox02">
       	  <h3>Safety of your account</h3>
            <img src="images/safesecure-logo.jpg" alt="Safe Secure Banking" class="imgright" />
          <ul>
            <li><a href="#">Fully certified casino</a></li>
                <li><a href="#">Strictly regulated fair games</a></li>
                <li><a href="#">Safe monetary deposits</a></li>
                <li><a href="#">Award winning casino</a></li>
          </ul>
        </div>
    </div>
</div>
<!--footer top section -->
<!--footer_section_bottom -->
    <div class="footer_section_bottom">
      <div class="footer_section_bottom_inner">&nbsp;
       <div class="footer_logo">
       	<div class="logo_section"><img src="images/footer-logo.png" alt="" /></div>
        <p class="copyright">Rights reserved,  2012.</p>
       </div>
       <div class="footer_bottomleftpart"><img src="images/visa.jpg" alt=""/></div>
       <div class="footer_bottomrightpart">Design by: Prospekt d.o.o.</div>
       <div class="clr"></div>
      </div>
    </div>
<!--footer_section_bottom -->
</div>
<!--footer_section -->

</div>
<!--wrapper -->



</body>
</html>
