<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::POWER JACKPOT::</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />

</head>

<body>
<!--wrapper -->
<div id="wrapper">
<!--topsection -->
<div id="topsection">
    <div class="topsection_inner">
    <img src="images/leaf.png" alt="" class="leaf" />
<!--main_ligo -->
      <div class="main_logo"><a href="#"><img src="images/power_main_logo.png" alt=""/></a></div>
      <!--main_ligo -->
      <!--text01 -->
      <div class="text01">
       <h4>Jackpots<br />
        <span> $3,977,353</span></h4>
      </div>
      <!--text01 -->
      <!--text02 -->
      <div class="text02">
        <h4>Players online
<span>7,246</span></h4>
      </div>
      <!--text02 -->
     <!--navogarion -->
     <div class="navigation">
      <table><tr>
          <td class="home"><a href="index.html" >Home </a></td>
          <td class="getting_started"><a href="started.html">Getting Started</a></td>
          <td class="payment_method"><a href="payment.html" class="select">Payment Methods</a></td>
          <td class="games"><a href="game.html">Games</a></td>
          <td class="tournament"><a href="tournaments.html">Tournaments</a></td>
          <td class="aboutus"><a href="about-us.html">About Us</a></td>
		  <td class="aboutus"><a href="blog-list.html">Blog</a></td>
          <td class="contact"><a href="contactus.html">Contact</a></td>
      </tr></table>
      </div>
     <!--navogarion -->
     <div class="left_reb"><img src="images/left_reb.png" alt=""/></div>
     <div class="right_reb"><img src="images/right_reab.png"  alt=""/></div>
    </div>
</div>
<!--topsection -->
<!--contentarea -->
<div id="contentarea_1">
	<div class="section03">
    	
			   
        <div class="sub_section04">
        	<div class="sec04_left">
            	<div class="title_section"><h3><span class="boldtxt">Power Jackpot </span> Rewards programme</h3></div>
            <div class="sec_desc"><p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus. 
</p> 
<p>Aliquam ut magna arcu, quis suscipit ipsum. Proin interdum egestas lacus nec sagittis. Duis ullamcorper vehicula porta. Quisque sit amet dolor lacus, quis pellentesque dui.Aliquam ut magna arcu, quis suscipit ipsum. Proin interdum egestas lacus nec sagittis. Duis ullamcorper vehicula porta. Quisque sit amet dolor lacus, quis pellentesque dui.</p></div> 
            </div>
            <div class="sec04_right"><img src="images/payment.png" alt="" /></div>
        <div class="clr"></div>
        </div> 
        	
    <div class="clr"></div>
    </div>
    
    <div class="red_ground-bg1">
    	<div class="red_ground-bg1_inner">
        <img src="images/heart-shape.png" class="heartshape" alt="" />
        	<div class="pricing_table">
            	<div class="box">
                	<div class="sec001">Silver</div>
                    <div class="sec002"><span>$</span>75</div>
                    <div class="sec003">
                    	<ul>
                        	<li>FREE points</li>
                            <li>Rewards points for cash</li>
                            <li>Weekly promotions</li>
                            <li>On Birthday 50 points</li>
                        </ul>
                    </div>
                    <div class="sec004">Upgrade Account</div>
                </div>
              <div class="box">
                	<div class="sec001">Gold</div>
                    <div class="sec002"><span>$</span>125</div>
                    <div class="sec003">
                    	<ul>
                        	<li>FREE points</li>
                            <li>Rewards points for cash</li>
                            <li>Weekly promotions</li>
                            <li>On Birthday 50 points</li>
                        </ul>
                    </div>
                    <div class="sec004">Upgrade Account</div>
              </div>
                <div class="box">
                	<div class="sec001">Platinum</div>
                    <div class="sec002"><span>$</span>500</div>
                    <div class="sec003">
                    	<ul>
                        	<li>FREE points</li>
                            <li>Rewards points for cash</li>
                            <li>Daily promotions</li>
                            <li>On Birthday 500 points</li>
                            <li>20% faster than Silver</li>
                            <li>On 5 points get 20 free</li>
                        </ul>
                    </div>
                    <div class="sec004">Upgrade Account</div>
                </div>
                <div class="box">
                	<div class="sec001">Diamond</div>
                    <div class="sec002"><span>$</span>125</div>
                    <div class="sec003">
                    	<ul>
                        	<li>FREE points</li>
                            <li>Rewards points for cash</li>
                            <li>Weekly promotions</li>
                            <li>On Birthday 50 points</li>
                            <li>25% faster than Silver</li>
                        </ul>
                    </div>
                    <div class="sec004">Upgrade Account</div>
                </div>
            </div>
            
            <div class="terms_and_condition">
            	<img src="images/3000points.png" alt="" class="points_banner" />
			<div class="redtext_section">
            <h3>Terms and conditions</h3>
                    <ul>
                    <li>At least one deposit must be made at the casino in order to redeem points</li>
                    <li>Rewards expire after 60 days if they are not redeemed.</li>
                    <li> Minimum of X,000 points may be redeemed.</li>
                    <li> The casino reserves the right to change the terms of this promotion without notice.</li>
                    </ul>
              </div>
            
            
          </div>
        </div>
    </div>
   
</div>
<!--contentarea -->

<!--footer_section -->
<div class="footer_section">

<!--footer top section -->	
<div class="footersection-top">
	<div class="footertop_inner">
    <img src="images/karo.png" alt="" class="karoshape" />	
<div class="social_media">
        	<ul>
           	  <li><a href="#"><img src="images/media-fb.png" alt="Facebook" /></a></li>
              <li><a href="#"><img src="images/media-twitter.png" alt="twitter" /></a></li>
            </ul>
        </div>
        <div class="footerbox01">
        	<ul>
            	<li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Responsible Gambling</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Affiliate Program</a></li>
            </ul>
        </div>
        <div class="footerbox02">
       	  <h3>Safety of your account</h3>
            <img src="images/safesecure-logo.jpg" alt="Safe Secure Banking" class="imgright" />
          <ul>
            <li><a href="#">Fully certified casino</a></li>   
                <li><a href="#">Strictly regulated fair games</a></li>    
                <li><a href="#">Safe monetary deposits</a></li>    
                <li><a href="#">Award winning casino</a></li> 
          </ul> 
        </div>
    </div>	
</div>
<!--footer top section -->
<!--footer_section_bottom -->
    <div class="footer_section_bottom">
      <div class="footer_section_bottom_inner">&nbsp;
       <div class="footer_logo">
       	<div class="logo_section"><img src="images/footer-logo.png" alt="" /></div>	
        <p class="copyright">Rights reserved,  2012.</p>
       </div>
       <div class="footer_bottomleftpart"><img src="images/visa.jpg" alt=""/></div>
       <div class="footer_bottomrightpart">Design by: Prospekt d.o.o.</div>
       <div class="clr"></div>
      </div>
    </div>
<!--footer_section_bottom -->
</div>
<!--footer_section -->

</div>
<!--wrapper -->



</body>
</html>
