<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::POWER JACKPOT::</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="css/scrolling.css" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="js/jquery.vticker-min.js"></script>
<script type="text/javascript">
$(function(){
	$('#top_jackpot_text').vTicker({ 
		speed: 500,
		pause: 3000,
		animation: 'fade',
		mousePause: false,
		showItems:5
	});
});

</script>
</head>



<body>
<!--wrapper -->
<div id="wrapper">
<!--topsection -->
<div id="topsection">
    <div class="topsection_inner">
    <img src="images/leaf.png" alt="" class="leaf" />
<!--main_ligo -->
      <div class="main_logo"><a href="#"><img src="images/power_main_logo.png" alt=""/></a></div>
      <!--main_ligo -->
      <!--text01 -->
      <div class="text01">
       <h4>Jackpots<br />
        <span> $3,977,353</span></h4>
      </div>
      <!--text01 -->
      <!--text02 -->
      <div class="text02">
        <h4>Players online
<span>7,246</span></h4>
      </div>
      <!--text02 -->
     <!--navogarion -->
     <div class="navigation">
      <table><tr>
          <td class="home"><a href="index.html" >Home </a></td>
          <td class="getting_started"><a href="started.html" class="select">Getting Started</a></td>
          <td class="payment_method"><a href="payment.html">Payment Methods</a></td>
          <td class="games"><a href="game.html">Games</a></td>
          <td class="tournament"><a href="tournaments.html">Tournaments</a></td>
          <td class="aboutus"><a href="about-us.html">About Us</a></td>
		  <td class="aboutus"><a href="blog-list.html">Blog</a></td>
          <td class="contact"><a href="contactus.html">Contact</a></td>
      </tr></table>
      </div>
     <!--navogarion -->
     <div class="left_reb"><img src="images/left_reb.png" alt=""/></div>
     <div class="right_reb"><img src="images/right_reab.png"  alt=""/></div>
    </div>
</div>
<!--topsection -->
<!--contentarea -->
<div id="contentarea_1">
	<div class="section03">
    	<img src="images/heart-shape.png" class="heartshape" alt="" />
		<div class="left_content">
        	<h2 class="title">Start the <strong>best gaming experience</strong></h2>
            <p><span class="boldtxt">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit. Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus. </p>

<p>Maecenas mollis molestie elit, vitae ultrices erat vehicula nec. Integer fermentum lacinia eleifend. Nam pharetra luctus diam eu dictum. Nunc in nibh eu elit tristique facilisis sit amet nec lectus. Donec id interdum metus. Curabitur tristique gravida odio quis rutrum.  <span class="boldtxt">Phasellus imperdiet sapien</span> vel ligula hendrerit non tincidunt est congue. Duis id dolor erat. Sed laoreet consequat nisi, vel gravida enim pharetra vitae. Sed imperdiet massa ac augue consequat laoreet. Donec molestie eros diam, vitae vulputate leo.</p>
			<div class="imgbox01"><img src="images/ipad-iphone.png" alt="" /></div>
            <div class="banner01">
            	<p>The <strong>PowerJackpot play software is free</strong>,<br /> 
and takes few minutes to get started. </p>
            </div>
            <p><span class="boldtxt">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit.</p>
            <p>Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus. </p>
        </div>	    
        <div class="rightside_section">
        	<div class="rightboxes">
            	<div class="live_casino">
                	<div class="casino_title"><h3>LIVE CASINO</h3></div>
                    <div class="casino_text"><p>Start playing and get<br />FREE money. </p></div>
                    <div class="offer_bonus_text"><img src="images/welcome-bonus.png" alt="" /></div>
                </div>
            </div>
            <div class="rightboxes">
            	<div class="popular_games">
                	<div class="title_sec"><h3>POPULAR GAMES</h3></div> 
                    	<table>
                    	<tr>
                        	<td>
                            <div class="flip-container">
		                    <div class="flipper">
                            <div class="front"><a href="#"><img src="images/g1-b.jpg" alt="" /></a></div>
			                <div class="back"><a href="#"><img src="images/g1.jpg"  alt=""/></a></div>
		                    </div>
	                        </div>
                           </td>

                            <td>
                            <div class="flip-container">
		                    <div class="flipper">
                            <div class="front"><a href="#"><img src="images/g2-b.jpg" alt="" /></a></div>
			                <div class="back"><a href="#"><img src="images/g2.jpg" alt="" /></a></div>
		                    </div>
	                        </div>
                            </td>
                        </tr>

                    	<tr>
                        	<td>
                            <div class="flip-container">
		                    <div class="flipper">
                            <div class="front"><a href="#"><img src="images/g3-b.jpg" alt="" /></a></div>
			                <div class="back"><a href="#"><img src="images/g3.jpg"  alt=""/></a></div>
		                    </div>
	                        </div>
                           </td>

                            <td>
                            <div class="flip-container">
		                    <div class="flipper">
                            <div class="front"><a href="#"><img src="images/g4-b.jpg"  alt=""/></a></div>
			                <div class="back"><a href="#"><img src="images/g4.jpg"  alt=""/></a></div>
		                    </div>
	                        </div>
                            </td>
                        </tr>
                    	<tr>
                        	<td>
                            <div class="flip-container">
		                    <div class="flipper">
                            <div class="front"><a href="#"><img src="images/g6-b.jpg"  alt=""/></a></div>
			                <div class="back"><a href="#"><img src="images/g6.jpg"  alt=""/></a></div>
		                    </div>
	                        </div>
                           </td>

                            <td>
                            <div class="flip-container">
		                    <div class="flipper">
                            <div class="front"><a href="#"><img src="images/g5-b.jpg"  alt=""/></a></div>
			                <div class="back"><a href="#"><img src="images/g5.jpg"  alt=""/></a></div>
		                    </div>
	                        </div>
                            </td>
                        </tr>
                    </table>
                    <div class="bottom_sec">26 Card games</div>
                </div>
            </div>
            
            <div class="rightboxes">
            	<div class="top_jackpot">
                	<div class="title_sec"><h3>TOP JACKPOT</h3></div>
                    <div id="top_jackpot_text">
                    <ul>
                    	<li>
                        	<div class="box_number">1.</div>
                            <div class="box_img"><a href="#"><img src="images/s1.jpg" alt="" /></a></div>
                            <a href="#"><h5>Mega Moolah Isis</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">2.</div>
                            <div class="box_img"><a href="#"><img src="images/s2.jpg" alt="" /></a></div>
                            <a href="#"><h5>Mega Moolah</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">3.</div>
                            <div class="box_img"><a href="#"><img src="images/s3.jpg" alt="" /></a></div>
                            <a href="#"><h5>Arabian Nights</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">4.</div>
                            <div class="box_img"><a href="#"><img src="images/s4.jpg" alt="" /></a></div>
                            <a href="#"><h5>Solo Alladin</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">5.</div>
                            <div class="box_img"><a href="#"><img src="images/s5.jpg" alt="" /></a></div>
                            <a href="#"><h5>Nola for Fun</h5></a>
                        </li>

                       <li>
                        	<div class="box_number">6.</div>
                            <div class="box_img"><a href="#"><img src="images/s1.jpg" alt="" /></a></div>
                            <a href="#"><h5>Mega Moolah Isis</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">7.</div>
                            <div class="box_img"><a href="#"><img src="images/s2.jpg" alt="" /></a></div>
                            <a href="#"><h5>Mega Moolah</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">8.</div>
                            <div class="box_img"><a href="#"><img src="images/s3.jpg" alt="" /></a></div>
                            <a href="#"><h5>Arabian Nights</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">9.</div>
                            <div class="box_img"><a href="#"><img src="images/s4.jpg" alt="" /></a></div>
                            <a href="#"><h5>Solo Alladin</h5></a>
                        </li>
                        <li>
                        	<div class="box_number">10.</div>
                            <div class="box_img"><a href="#"><img src="images/s5.jpg" alt="" /></a></div>
                            <a href="#"><h5>Nola for Fun</h5></a>
                        </li>

                    </ul>
                    </div>
                
                </div>
            </div>
        </div>	
    <div class="clr"></div>
    </div>
</div>
<!--contentarea -->
<!--red section -->
	<div class="section_red">
        <div class="section_red_inner">&nbsp;
        <img src="images/cashe-credit-free-banner.png" class="freespin_banner" alt="" />
        <img src="images/karo.png" alt="" class="karoshape" />
        <div class="redtext_section">
        	<h3>Start playing - win 100% welcome bonus</h3>
            <ul>
                <li>Mauris volutpat auctor sodales. </li>
                <li>Aenean ullamcorper vestibulum tellus</li>
                <li>Nec volutpat tellus vulputate vitae. </li>
                <li>Integer in dolor eu ligula imperdiet fermentum sed eget ante</li>
            </ul>
        </div>
        <div class="clr"></div>
        </div>
     </div>
<!--red section -->
<!--footer_section -->
<div class="footer_section">

<!--footer top section -->	
<div class="footersection-top">
	<div class="footertop_inner">
    	
<div class="social_media">
        	<ul>
           	  <li><a href="#"><img src="images/media-fb.png" alt="Facebook" /></a></li>
              <li><a href="#"><img src="images/media-twitter.png" alt="twitter" /></a></li>
            </ul>
        </div>
        <div class="footerbox01">
        	<ul>
            	<li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Responsible Gambling</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Affiliate Program</a></li>
            </ul>
        </div>
        <div class="footerbox02">
       	  <h3>Safety of your account</h3>
            <img src="images/safesecure-logo.jpg" alt="Safe Secure Banking" class="imgright" />
          <ul>
            <li><a href="#">Fully certified casino</a></li>   
                <li><a href="#">Strictly regulated fair games</a></li>    
                <li><a href="#">Safe monetary deposits</a></li>    
                <li><a href="#">Award winning casino</a></li> 
          </ul> 
        </div>
    </div>	
</div>
<!--footer top section -->
<!--footer_section_bottom -->
    <div class="footer_section_bottom">
      <div class="footer_section_bottom_inner">&nbsp;
       <div class="footer_logo">
       	<div class="logo_section"><img src="images/footer-logo.png" alt="" /></div>	
        <p class="copyright">Rights reserved,  2012.</p>
       </div>
       <div class="footer_bottomleftpart"><img src="images/visa.jpg" alt=""/></div>
       <div class="footer_bottomrightpart">Design by: Prospekt d.o.o.</div>
       <div class="clr"></div>
      </div>
    </div>
<!--footer_section_bottom -->
</div>
<!--footer_section -->

</div>
<!--wrapper -->



</body>
</html>
