<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::POWER JACKPOT::</title>
<link rel="icon" type="image/png" href="images/favicon.png" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />

<script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="js/tab.js"></script>
<!--[if lt IE 9 ]> 
<link rel="stylesheet" type="text/css" href="css/style-ie.css"
<![endif]-->
</head>

<body>
<!--wrapper -->
<div id="wrapper">
<!--topsection -->
<div id="topsection">
    <div class="topsection_inner">
    <img src="images/leaf.png" alt="" class="leaf" />
<!--main_ligo -->
      <div class="main_logo"><a href="#"><img src="images/power_main_logo.png" alt=""/></a></div>
      <!--main_ligo -->
      <!--text01 -->
      <div class="text01">
       <h4>Jackpots<br />
        <span> $3,977,353</span></h4>
      </div>
      <!--text01 -->
      <!--text02 -->
      <div class="text02">
        <h4>Players online
<span>7,246</span></h4>
      </div>
      <!--text02 -->
     <!--navogarion -->
     <div class="navigation">
      <table><tr>
          <td class="home"><a href="index.html" >Home </a></td>
          <td class="getting_started"><a href="started.html">Getting Started</a></td>
          <td class="payment_method"><a href="payment.html">Payment Methods</a></td>
          <td class="games"><a href="game.html">Games</a></td>
          <td class="tournament"><a href="tournaments.html" class="select">Tournaments</a></td>
          <td class="aboutus"><a href="about-us.html">About Us</a></td>
		  <td class="aboutus"><a href="blog-list.html">Blog</a></td>
          <td class="contact"><a href="contactus.html">Contact</a></td>
      </tr></table>
      </div>
     <!--navogarion -->
     <div class="left_reb"><img src="images/left_reb.png" alt=""/></div>
     <div class="right_reb"><img src="images/right_reab.png"  alt=""/></div>
    </div>
</div>
<!--topsection -->
<!--contentarea -->
<div id="contentarea_1">
	<div class="section04">
    	<div class="section04_inner">
        	<div class="left_text_section">
            	<div class="box01"><img src="images/join-live-tournaments.png" alt="" /></div>
                <div class="clr"></div>
                <p>We offer tournaments for blackjack, casino hold'em, roulette and other table games, as well as video poker tournaments!</p>
            </div>
            <div class="rightdisplay_section">
            	<h3>UPCOMING TOURNAMENT</h3>
                <div class="img-frame"><img src="images/tournament.jpg" alt="" /></div>
                <div class="playnow01"><a href="#"><img src="images/tournament-joinnow-btn.png" alt="Join Now" /></a></div>
            <div class="start_time">starts in 10 min</div>
            </div>
        </div>
    </div>
    
	<div class="red_ground-bg">
    <div class="section03">
    	<img src="images/heart-shape.png" class="heartshape" alt="" />
		<div class="sub_section01">
        	<div class="try_mobileversion"><img src="images/try-mobile.png" alt="" /><h5>Available at iStore.</h5> </div>
            <div class="title_section"><h3>Current <span class="boldtxt">online casino</span> tournaments</h3>
            <div class="blog_counter">10</div>
            </div>
            <div class="sec_desc"><p>Each time sany of players plays a progressive jackpot game, the  <strong>prize value increases</strong>. Mauris volutpat auctor sodales. Aenean ullamcorper vestibulum tellus, nec volutpat tellus vulputate vitae. Pellentesque porta elementum velit ut molestie. Integer in dolor eu ligula imperdiet fermentum sed eget ante. Nullam condimentum aliquam vestibulum. </p> 
</div> 
        </div>	   
        <div class="sub_section02">
    <!--tab start -->
<div class="tab_box">
                        <div class="tab_content" style="width:633px;">
                        <div class="sort_tabsection">
                          <ul>
                            <li><a href="JavaScript:void(0);" class="select">All tournaments</a></li>
                            <li><a href="JavaScript:void(0);">Texas hold'em</a></li>
                            <li><a href="JavaScript:void(0);">BlackJack</a></li>
                            <li><a href="JavaScript:void(0);">Slots</a></li>
                          </ul>
                          </div>
                        </div>
                        <div class="clr"></div>
                        <div class="tab_details">
                          <!--tab news start -->
                          <div class="tab_inner active" >
                         <div class="sorted_display">
            	<h4>We have 32 tournaments for you</h4>	
                <table class="tournament_list">
                	<thead>
                    	<tr>
                        	<th>Tournament</th>
                            <th>Starts in</th>
                            <th>Ends</th>
                            <th>Players enrolled</th>
                            <th>Prize pool</th>
                            <th>Entry</th>
                            <th>Bonus?</th>
                        </tr>
                    </thead>	
                    <tbody>
                    	<tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            <div class="clr"></div>
            </div>
                          </div>
                          <!--tab news end -->
                          <!--tab comment start -->
                          <div class="tab_inner">
                        <div class="sorted_display">
            	<h4>We have 32 tournaments for you</h4>	
                <table class="tournament_list">
                	<thead>
                    	<tr>
                        	<th >Tournament</th>
                            <th >Starts in</th>
                            <th >Ends</th>
                            <th >Players enrolled</th>
                            <th >Prize pool</th>
                            <th >Entry</th>
                            <th >Bonus?</th>
                        </tr>
                    </thead>	
                    <tbody>
                    	<tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        

                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        
                        
                        
                    </tbody>
                </table>
                <div class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            <div class="clr"></div>
            </div>
                          </div>
                          <!--tab comment end -->
                          <!--tab comment start -->
                          <div class="tab_inner">
                        <div class="sorted_display">
            	<h4>We have 32 tournaments for you</h4>	
                <table class="tournament_list">
                	<thead>
                    	<tr>
                        	<th>Tournament</th>
                            <th>Starts in</th>
                            <th>Ends</th>
                            <th>Players enrolled</th>
                            <th>Prize pool</th>
                            <th>Entry</th>
                            <th>Bonus?</th>
                        </tr>
                    </thead>	
                    <tbody>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            <div class="clr"></div>
            </div>
                          </div>
                          <!--tab comment end -->
                          <!--tab comment start -->
                          <div class="tab_inner">
                       <div class="sorted_display">
            	<h4>We have 32 tournaments for you</h4>	
                <table class="tournament_list">
                	<thead>
                    	<tr>
                        	<th>Tournament</th>
                            <th>Starts in</th>
                            <th>Ends</th>
                            <th>Players enrolled</th>
                            <th>Prize pool</th>
                            <th>Entry</th>
                            <th>Bonus?</th>
                        </tr>
                    </thead>	
                    <tbody>

                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                        <tr class="odd">
                        	<td>Wild Card</td>
                            <td>20:00	</td>
                            <td>21:00</td>
                            <td>1.180	</td>
                            <td>$50.000</td>
                            <td>$200</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                        	<td>$10k Midweek Moolah Q1</td>
                            <td>20:00</td>
                            <td>22:00	</td>
                            <td>25	</td>
                            <td>$450</td>
                            <td>$5</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                        	<td>$100 '3hr' Reloader</td>
                            <td>20:45</td>
                            <td>21:15</td>
                            <td>251	</td>
                            <td>$5000</td>
                            <td>$10</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                        	<td>Master of the Table</td>
                            <td>19:30	</td>
                            <td>20:30	</td>
                            <td>22	</td>
                            <td>$18.000</td>
                            <td>$50</td>
                            <td>Yes</td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            <div class="clr"></div>
            </div>
                          </div>
                          <!--tab comment end -->
                        </div>
                      </div>
     <!--tab end -->
            
        </div> 
        	
    <div class="clr"></div>
    </div>
    </div>
    
    <div class="section05">
    	<div class="section05_inner">
        	<img src="images/karo.png" alt="" class="karoshape" />
        	<div class="download_sec">
            	<div class="download_innertext"><p><span>Download FREE software</span><br /> 
and play Progressive Slots now. </p></div>
            </div>
            <p class="downtxt">In order to participate in the thrills of progressive jackpot games, players will need to download the full casino software, as progressive jackpot games are not available to enjoy in the Flash Lite Play version of the casino. </p>
        </div>	
    </div>
</div>
<!--contentarea -->
<!--red section -->
	<div class="section_red">
        <div class="section_red_inner">&nbsp;
        <img src="images/cashe-credit-free-banner.png" class="freespin_banner" alt="" />
        <div class="redtext_section">
        	<h3>Start playing - win 100% welcome bonus</h3>
            <ul>
                <li>Mauris volutpat auctor sodales. </li>
                <li>Aenean ullamcorper vestibulum tellus</li>
                <li>Nec volutpat tellus vulputate vitae. </li>
                <li>Integer in dolor eu ligula imperdiet fermentum sed eget ante</li>
            </ul>
        </div>
        <div class="clr"></div>
        </div>
     </div>
<!--red section -->
<!--footer_section -->
<div class="footer_section">

<!--footer top section -->	
<div class="footersection-top">
	<div class="footertop_inner">
    	
<div class="social_media">
        	<ul>
           	  <li><a href="#"><img src="images/media-fb.png" alt="Facebook" /></a></li>
              <li><a href="#"><img src="images/media-twitter.png" alt="twitter" /></a></li>
            </ul>
        </div>
        <div class="footerbox01">
        	<ul>
            	<li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Responsible Gambling</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Affiliate Program</a></li>
            </ul>
        </div>
        <div class="footerbox02">
       	  <h3>Safety of your account</h3>
            <img src="images/safesecure-logo.jpg" alt="Safe Secure Banking" class="imgright" />
          <ul>
            <li><a href="#">Fully certified casino</a></li>   
                <li><a href="#">Strictly regulated fair games</a></li>    
                <li><a href="#">Safe monetary deposits</a></li>    
                <li><a href="#">Award winning casino</a></li> 
          </ul> 
        </div>
    </div>	
</div>
<!--footer top section -->
<!--footer_section_bottom -->
    <div class="footer_section_bottom">
      <div class="footer_section_bottom_inner">&nbsp;
       <div class="footer_logo">
       	<div class="logo_section"><img src="images/footer-logo.png" alt="" /></div>	
        <p class="copyright">Rights reserved,  2012.</p>
       </div>
       <div class="footer_bottomleftpart"><img src="images/visa.jpg" alt=""/></div>
       <div class="footer_bottomrightpart">Design by: Prospekt d.o.o.</div>
       <div class="clr"></div>
      </div>
    </div>
<!--footer_section_bottom -->
</div>
<!--footer_section -->

</div>
<!--wrapper -->



</body>
</html>
