@charset "utf-8";
/* CSS Document */
#news-container
{
	width:224px; 
	margin: auto;
	border: 0px solid #333333;
}
#news-container ul li
{
	border:0px solid blue;
	
	background:url(../scroller_arrow.png) 0 15px no-repeat;
}
#news-container ul li div
{
	width:214px;
	padding:10px 0 10px 10px;
	background:url(../scrolling-bg.gif) top center no-repeat;
	border: 0px solid #aaaaaa;
	
}
#news-container ul li div h3 a
{
	color:#ffae00;
	font-size:12px;
	font-weight:bold;
	line-height:19px;
	text-decoration:none;
}
#news-container ul li div h5 a
{
	color:#535353;
	font-size:12px;
	font-weight:normal;
	line-height:15px;
	text-decoration:none;
}

#top_jackpot_text
{
	width:215px; 
	margin: auto;
	border: 0px solid #333333;
}
#top_jackpot_text .box_number{ float:left; width:22px; height:auto; padding:12px 0;  margin-right:6px; text-align:center; color:#fff; font:normal 14px/normal 'PT Sans';}

#top_jackpot_text .box_img{ float:left; width:42px; height:42px;  margin-right:15px;}

#top_jackpot_text h5{ float:left; color:#fff; font:normal 14px/normal 'PT Sans'; }
