<div class="container container-narrow content">
  <div class="row" id="home">
    <div class="col-xs-12">
      <h2 class="text-center dark">Restore password</h2>
      <p></p>
      <br/>
    </div>
  </div>
  <!-- /.row -->

  <%= render partial: 'shared/back_to_top' %>

</div>