<div id="contentarea_1">
  <div class="section03">
    <div class="game_play" id="sign_in_up">
      <%= link_to image_tag("facebook_login"), '/auth/facebook', class:'img-responsive' %>

      <!--<h2 class="text-center dark">Start the best gaming experience</h2>-->
      <%#= render partial: "shared/sign_in" %>
      <br/>
    </div>
  </div>
</div>