
<div class="top">
  <div id="top-link-block" class="hidden">
    <a href="#top" class="btn-top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
      <i class="glyphicon glyphicon-chevron-up"></i> Go to Top
    </a>
  </div>
  <!-- /top-link-block -->
</div>