<% if current_user %>
    <div class="container container-narrow content">
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: "shared/errors_flash" %>
          <h2 class="text-center bg-red2">Welcome <%= current_user.try(:full_name).try(:present?) ? current_user.try(:full_name) : current_user.try(:email) %></h2>

          <h3 id="balance" class="text-center">You have <%= current_user.try(:credits).try(:to_i) %> credits</h3>
        </div>
      </div>
    </div>
<% end %>