<div id="contentarea_1">
  <div class="section03">


    <div class="sub_section04">
      <div class="sec04_left">
        <div class="title_section"><h3><span class="boldtxt">Power Jackpot </span> Rewards programme</h3></div>
        <div class="sec_desc"><p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Sed ultrices convallis risus, a tincidunt augue imperdiet non. Proin ultricies facilisis magna ut gravida. Nam vehicula lacus vitae nibh hendrerit luctus. Nam lacinia egestas neque sit amet eleifend. Nulla tempor placerat sodales. Proin dolor nisl, pulvinar quis molestie eu, commodo eget massa. Duis viverra magna quis ante semper nec volutpat arcu cursus.
        </p>
          <p>Aliquam ut magna arcu, quis suscipit ipsum. Proin interdum egestas lacus nec sagittis. Duis ullamcorper vehicula porta. Quisque sit amet dolor lacus, quis pellentesque dui.Aliquam ut magna arcu, quis suscipit ipsum. Proin interdum egestas lacus nec sagittis. Duis ullamcorper vehicula porta. Quisque sit amet dolor lacus, quis pellentesque dui.</p></div>
      </div>
      <div class="sec04_right"><%= image_tag "payment.png", alt:"" %></div>
      <div class="clr"></div>
    </div>

    <div class="clr"></div>
  </div>

  <div class="red_ground-bg1">
    <div class="red_ground-bg1_inner">
      <%= image_tag "heart-shape.png", class:"heartshape", alt:"" %>
      <div class="pricing_table">
        <div class="box">
          <div class="sec001">Silver</div>
          <div class="sec002"><span>$</span>75</div>
          <div class="sec003">
            <ul>
              <li>FREE points</li>
              <li>Rewards points for cash</li>
              <li>Weekly promotions</li>
              <li>On Birthday 50 points</li>
            </ul>
          </div>
          <div class="sec004">Upgrade Account</div>
        </div>
        <div class="box">
          <div class="sec001">Gold</div>
          <div class="sec002"><span>$</span>125</div>
          <div class="sec003">
            <ul>
              <li>FREE points</li>
              <li>Rewards points for cash</li>
              <li>Weekly promotions</li>
              <li>On Birthday 50 points</li>
            </ul>
          </div>
          <div class="sec004">Upgrade Account</div>
        </div>
        <div class="box">
          <div class="sec001">Platinum</div>
          <div class="sec002"><span>$</span>500</div>
          <div class="sec003">
            <ul>
              <li>FREE points</li>
              <li>Rewards points for cash</li>
              <li>Daily promotions</li>
              <li>On Birthday 500 points</li>
              <li>20% faster than Silver</li>
              <li>On 5 points get 20 free</li>
            </ul>
          </div>
          <div class="sec004">Upgrade Account</div>
        </div>
        <div class="box">
          <div class="sec001">Diamond</div>
          <div class="sec002"><span>$</span>125</div>
          <div class="sec003">
            <ul>
              <li>FREE points</li>
              <li>Rewards points for cash</li>
              <li>Weekly promotions</li>
              <li>On Birthday 50 points</li>
              <li>25% faster than Silver</li>
            </ul>
          </div>
          <div class="sec004">Upgrade Account</div>
        </div>
      </div>

      <div class="terms_and_condition">
        <%= image_tag "3000points.png", alt:"", class:"points_banner" %>
        <div class="redtext_section">
          <h3>Terms and conditions</h3>
          <ul>
            <li>At least one deposit must be made at the casino in order to redeem points</li>
            <li>Rewards expire after 60 days if they are not redeemed.</li>
            <li> Minimum of X,000 points may be redeemed.</li>
            <li> The casino reserves the right to change the terms of this promotion without notice.</li>
          </ul>
        </div>


      </div>
    </div>
  </div>

</div>