<style type="text/css">
    .wcontainer {
        position: absolute;
        left: 12%;
    }

    .roulette {
        position: absolute;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        left: 40%;
        background-color: red;
        /*background-image: url('http://tehsis.me/phieneasroulette.png');*/
        background-image: url("assets/fortune_wheel_green.png");
        border-radius: 300px;
    }

    .spinner {
        font-size:8pt;
        cursor: pointer;
        color: white;
        font-weight: bold;
        border: none;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 125px;
        left: 125px;
        border-radius: 100%;
        z-index: 1000;
        background-color: black;
    }

    .spinner .pointer {
        position: absolute;
        width: 0;
        height: 0;
        top: -44px;
        left: 15px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 40px solid red;
    }
</style>
<div class="wcontainer">
  <div class="roulette">
  </div>
  <button class="spinner"><span>Win Credits!</span>

    <div class="pointer"></div>
  </button>
</div>

<div class="price">
</div>

<!--<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->

<!--<script src="js/index.js"></script>-->
<script type="text/javascript">
    var prices = [
        { name: '10 000'},
        { name: 'Bankrupt'},
        { name: '4000'},
        { name: '1000'},
        { name: '5000'},
        { name: '2000'},
        { name: '3000'},
        { name: '6000'},
        { name: '1000'},
        { name: '7000'},
        { name: '4000'},
        { name: '1000'},
        { name: '5000'},
        { name: '2000'},
        { name: '3000'},
        { name: 'Bankrupt'},
    ];
    $(function() {

        var $r = $('.roulette').fortune(prices);

        var clickHandler = function() {
            $('.spinner').off('click');
            $('.spinner span').hide();
            $r.spin().done(function(price) {
                $('.price').text('You have: ' + price.name);
                $('.spinner').on('click', clickHandler);
                $('.spinner span').show();
            });
        };

        $('.spinner').on('click', clickHandler);
    });
</script>

<!--<script src='http://tehsis.github.io/jfortune/jquery.fortune.js'></script>-->
<script type="text/javascript">
    (function($) {
        $.fn.fortune = function(args) {

            if (args === undefined) {
                throw(new Error("You must define the options.prices"));
            }

            var options = $.extend({}, {
                prices: args,
                duration: 1000,
                separation: 2,
                min_spins: 10,
                max_spins: 15,
                onSpinBounce: function() {}
            }, args);

            var fortune = this;
            var prices_amount = Array.isArray(options.prices)?options.prices.length:options.prices;
            var prices_delta = 360 / prices_amount;
            var is_spinning = false;

            fortune.spin = function(price) {
                price = typeof price === "number"?price:Math.floor(Math.random() * prices_amount);
                var deferred = $.Deferred();
                var position = Math.floor(prices_delta * (price - 1/2) + randomBetween(options.separation, prices_delta - options.separation));
                var spins = randomBetween(options.min_spins, options.max_spins);
                var final_position = 360 * spins + position;
                var prev_position = 0;
                var is_bouncing = false;

                is_spinning = true;

                fortune
                        .css({
                            "transform": "rotate(" + final_position + "deg)",
                            "-webkit-transform": "rotate(" + final_position + "deg)",
                            "transition": "transform " + options.duration + "ms cubic-bezier(.17,.67,.12,.99)",
                            "-webkit-transition": "-webkit-transform " + options.duration + "ms cubic-bezier(.17,.67,.12,.99)"
                        })
                        .siblings('.spin').removeClass('bounce');

                var bounceSpin = function() {
                    var curPosition = Math.floor(getRotationDegrees(fortune)),
                            mod = Math.floor((curPosition + prices_delta*0.5) % prices_delta),
                            diff_position,
                            position_threshold = prices_delta/5,
                            distance_threshold = prices_delta/10;

                    prev_position = Math.floor(curPosition < prev_position ? prev_position - 360 : prev_position);
                    diff_position = curPosition - prev_position;

                    if ((mod < position_threshold && diff_position < distance_threshold) ||
                            (mod < position_threshold*3 && diff_position >= distance_threshold)) {
                        if (!is_bouncing) {
                            fortune.siblings('.spin').addClass('bounce');
                            options.onSpinBounce(fortune.siblings('.spin'));
                            is_bouncing = true;
                        }
                    } else {
                        fortune.siblings('.spin').removeClass('bounce');
                        is_bouncing = false;
                    }

                    if (is_spinning) {
                        prev_position = curPosition;
                        requestAnimationFrame(bounceSpin);
                    }
                };

                var animSpin = requestAnimationFrame(bounceSpin);

                setTimeout(function() {
                    fortune
                            .css({
                                "transform": "rotate(" + position + "deg)",
                                "-webkit-transform": "rotate(" + position + "deg)",
                                "transition": "",
                                "-webkit-transition": ""
                            })
                            .siblings('.spin').removeClass('bounce');

                    cancelAnimationFrame(animSpin);
                    deferred.resolve(Array.isArray(options.prices)?options.prices[price]:price);
                    is_spinning = false;
                }, options.duration);

                return deferred.promise();
            };

            var getRotationDegrees = function(obj) {
                var angle = 0,
                        matrix = obj.css("-webkit-transform") ||
                                obj.css("-moz-transform")    ||
                                obj.css("-ms-transform")     ||
                                obj.css("-o-transform")      ||
                                obj.css("transform");
                if (matrix !== 'none') {
                    var values = matrix.split('(')[1].split(')')[0].split(','),
                            a = values[0],
                            b = values[1],
                            radians = Math.atan2(b, a);

                    if ( radians < 0 ) {
                        radians += (2 * Math.PI);
                    }

                    angle = Math.round( radians * (180/Math.PI));
                }

                return angle;
            };

            var randomBetween = function(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            };

            return fortune;
        };
    }) (jQuery);
</script>