<%= render partial: "home/game_no_text" %>

<!--<a href="<%= game_play_url %>">-->
<!--<%= image_tag "button_red.png", class: "img-responsive col-xs-12" %>-->
<!--</a>-->

<%= render partial: "home/game_about" %>

<br/>
