<%= render partial: "home/game_no_text" %>

<!--<a href="<%= game_play_url %>">-->
<!--<%= image_tag "button_red.png", class: "img-responsive col-xs-12" %>-->
<!--</a>-->

<p class="big text-center">
<%#= t("th.about") #%>
  The most popular card game in the world just got better and more thrilling! With Texas Hold’em Fold Up, you play Texas Hold’em against virtual robots. If any of the virtual robots fold during the hand they fold up to show you their hold cards, providing you with a lot more information, and strategies.
</p>
<p class="big text-center">
  Every time that a robot folds up, the odds change, the excitement changes, and how you play your hand changes. This additional information should make it easier to determine if you should fold, check, or raise your hand.
</p>

<br/>
