<p class="big"><%= t("th.instructions.five") %></p>

<p class="big"><%= t("th.instructions.six") %></p>

<p class="big"><%= t("th.instructions.seven") %></p>

<p class="big"><%= t("th.instructions.eight") %></p>