<p class="big"><%= t("th.instructions.one") %></p>

<p class="big"><%= t("th.instructions.two") %></p>

<p class="big"><%= t("th.instructions.three") %></p>

<p class="big"><%= t("th.instructions.four") %></p>
