<div class="container container-narrow content">

  <div class="bg-black">
    <!--<h4 class="text-center dark">Credits</h4>-->
    <div class="row" id="credits" class="">
      <div class="col-xs-12">
        <%= render partial: "shared/credits"%>
      </div>
      <!-- /.row -->
    </div>
  </div>
  <br/>
  <%= render template: "shared/_back_to_top" %>

</div>

