<div class="container content">
  <div class="row" id="home">
    <div class="col-xs-12">
      <!--<h2 class="text-center dark">Start the best gaming experience</h2>-->
      <br/>
      <iframe src="http://th.webgame.shopomob.ru" class="col-xs-12" width="" height="700" allowfullscreen="true" frameBorder="0"></iframe>

      <p class="big text-center"><%=t("th.about")%></p>
      <br/>
    </div>
  </div>
  <!-- /.row -->

  <%= render partial: 'shared/back_to_top' %>
</div>
