<div class="container container-narrow content">
  <div class="row" id="home">
    <div class="col-xs-12">
      <!--<h2 class="text-center dark">Start the best gaming experience</h2>-->

      <%= image_tag "games/texas_holdem.jpeg", class: "img-responsive col-xs-12" %>

      <p><b>Texas hold 'em (also known as Texas holdem, hold 'em, or holdem) </b> is a variation of the standard
        card game of poker. Two cards (hole cards) are dealt face down to each player and then five community
        cards are placed face-up by the dealer—a series of three ("the flop") then an additional single card
        ("the turn" or "fourth street") and another additional card ("the river" or "fifth street"). The best
        five card poker hand is obtained by taking cards from either the community or their hole cards. Players
        have the option to check, bet, raise or fold after each deal; i.e., betting may occur prior to the flop,
        "on the flop", "on the turn", and "on the river". </p>
      <br/>
    </div>
  </div>
  <!-- /.row -->

  <div class="top">
    <div id="top-link-block" class="hidden">
      <a href="#top" class="btn-top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="glyphicon glyphicon-chevron-up"></i> Go to Top
      </a>
    </div>
    <!-- /top-link-block -->
  </div>

</div>