<% if @creditList.present? %>
    <% if current_user
         class_list = ""
         btn_label = "Buy"
         url = user_buy_path(current_user)
       else
         class_list = "credits"
         btn_label = "Login and Buy"
         url = signin_path
       end %>
    <div class="bg-black">
      <!--<h4 class="text-center dark">Credits</h4>-->
      <div class="row" id="credits">
        <div class="col-xs-12">
          <div class="panel panel-default bg-transparent <%= class_list %>">
            <!-- Default panel contents -->
            <div class="panel-heading text-center bg-red2">Buy Credits</div>
            <!--<h2 class="text-center dark">Buy</h2>-->
            <div class="table-responsive">
              <table class="table">
                <thead class="text-capitalize">
                <tr class="text-center">
                  <th class="text-center">cost</th>
                  <th class="text-center">credits</th>
                  <th class="text-center">action</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <% if @creditList.any? %>
                    <% @creditList.each do |credit| %>
                        <tr>
                          <td><%= credit.try(:[], :cost) %></td>
                          <td><%= credit.try(:[], :value) %></td>
                          <td>
                            <%= link_to btn_label, url, class: "btn btn-green btn-justified" %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
                <!--<tr><td colspan="3">Win</td></tr>-->
                </tbody>
              </table>
            </div>

            <!--<div class="panel panel-footer bg-black"></div>-->
          </div>
        </div>
      </div>
    </div>

    <br/>
<% end %>
