<div id="contentarea_1">
  <div class="section03">
    <div class="left_content">
      <%= render partial: "shared/errors_flash" %>
      <% if @order.present? %>
          <h2 class="title">New Order</h2>
          <%= render partial: "orders/form", locals: {object: @order} %>
      <% else %>
          <h2 class="title">Order not found</h2>
      <% end %>
    </div>

    <div class="rightside_section">
      <%= render partial: "shared_new/rsidebar_games" %>
    </div>

    <div class="clr"></div>

  </div>
</div>
