<div class="container container-narrow content">
  <div class="row" id="home">
    <div class="col-xs-12">
      <%= render partial: "shared/errors_flash" %>
      <%= render partial: "orders/form", locals: {object: @order} %>
    </div>
  </div>
  <!-- /.row -->

  <%= render partial: 'shared/back_to_top' %>

</div>