<% if user %>
    <div class="sub_section02" style="width:100%">
      <div class="sorted_display" style="width:100%">
        <table class="tournament_list" style="width:100%">
          <thead>
          <tr>
            <th>#</th>
            <th>Player Name</th>
            <th>Score</th>
          </tr>
          </thead>
          <tbody>
          <% items.each do |item| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= item[:no] %></td>
                <td><%= item[:uname] %></td>
                <td><%= item[:uscores] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>
