<div id="contentarea_1">
  <div class="section03">
    <br>
    <br>
    <br>

    <div class="sub_section02">
      <%#= render partial: "games/tab_list" #%>
    </div>

    <div class="sub_section02" style="color: black">
      <h1 align="center">High Scores</h1>
      <%= render partial: "games/scores" %>
    </div>

    <div class="clr"></div>
  </div>
</div>

