<div id="contentarea_1">
  <div class="section03">
    <br>
    <br>
    <br>

    <div class="sub_section02" style="color: black">
      <h1 align="center">High Scores</h1>
      <%=render partial: "admin/high_scores/list"%>
    </div>

    <div class="clr"></div>
  </div>
</div>

