body {
    background: #f9bf00 url(../images/bg/bg_rays_2.png) no-repeat center top scroll;
    background-size: 100% auto;
    /*padding-bottom: 50%;*/
}

.footer {
    background-color: black;
}

ul.nav-pills {
    margin: 0;
    padding: 0;
}

.navbar-collapse {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    padding: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #d61920;
    height: 50px;
}

.nav a {
    color: papayawhip;
    text-decoration: none;
}

.navbar-header, .navbar, .navbar-default {
    background-color: #aa0915;
    border: 0px;
}

.container-narrow {
    min-width: 320px;
    max-width: 730px;
}

.nav {
    background-color: #d61920;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #d61920;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #aa0915;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: #fff;
    background-color: #aa0915;
}

.nav a {
    color: papayawhip;
    text-decoration: none;
}

.footer {
    background-color: black;
}

.ribbon1 {
    position: absolute;
    margin: 0px 0px 0 0px;
    padding: 10px 20px 6px 20px;
    min-height: 280px;
    color: floralwhite;

    background-image: -webkit-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: -o-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: linear-gradient(to bottom, #00D000 0%, #005800 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00D000', endColorstr='#ff005800', GradientType=0);
    background-color: #379500;
}

.ribbon1 img, .ribbon img {
    margin-top: -35px;
    width: 150px;
}

.ribbon img {
    margin-top: 0px;
}

.container.with-ribbon {
    padding-top: 50px;
}

.ribbon {
    position: absolute;
    margin: 235px 0px 0 -52px;
    padding: 10px 20px 6px 20px;
    min-height: 100px;
    min-width: 190px;

    background-image: -webkit-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: -o-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: linear-gradient(to bottom, #00D000 0%, #005800 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00D000', endColorstr='#ff005800', GradientType=0);
    background-color: #008800;
}

.ribbon:before {
    border-left: 52px solid #002800;
    border-top: 43px solid transparent;
    content: "";
    display: block;
    min-height: 43px;
    min-width: 7px;
    right: -52px;
    position: absolute;
    top: 2px;
}

.ribbon1 span, .ribbon span {
    color: floralwhite;
    font-size: 1.3em;
}

.bg-gold {
    background-image: url("./images/bg_gold.png");
}

.bg-red {
    min-height: 100px;
    background-image: -webkit-linear-gradient(top, #F00000 0%, #580000 100%);
    background-color: #aa0915;
}


.bg-black {
    min-height: 100px;
    color: floralwhite;
    background: -webkit-radial-gradient(at top, #414141, black);
    background: radial-gradient(at top, #414141, black);
}

.ribbon-menu {
    position: relative;
}

.ribbon-menu img {
    height: 125px;
    margin-top: -9%;
}

.ribbon-menu img.right {
    position:absolute;
    margin-left: 50%;
    /*margin-top: -9.5%;*/
}

.ribbon-menu img.left {
    position:absolute;
    margin-left: -542px;
}

.dark {
    color: palegoldenrod;
    background-color: black;
    padding: 5px;
    font-size: 1.2em;
}

ul.footer-nav-menu {
    color: gray;
    list-style-type: none;
}

footer .bg-black {
    min-height: 278px;
}

footer h3, footer h4 {
    color: floralwhite;
}

footer a, footer p {
    color: gray;
}

.logo {
    height: auto;
    width: 50%;
}

.img-responsive {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-pills {
    background-image: -webkit-linear-gradient(top, #d51909 0%, #8c0c00 100%);
    background-image: -o-linear-gradient(top, #d51909 0%, #8c0c00 100%);
    background-image: linear-gradient(to bottom, #d51909 0%, #8c0c00 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd51909', endColorstr='#ff8c0c00', GradientType=0);
    background-color: #8c0c00;
}

.nav-pills-red {
    background-image: -webkit-linear-gradient(top, #990000 0%, #770000 100%);
    background-image: -o-linear-gradient(top, #990000 0%, #770000 100%);
    background-image: linear-gradient(to bottom, #990000 0%, #770000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff990000', endColorstr='#ff770000', GradientType=0);
    background-color: #770000;
}

.nav-pills-green {
    background-image: -webkit-linear-gradient(top, #004400 0%, #009900 100%);
    background-image: -o-linear-gradient(top, #004400 0%, #009900 100%);
    background-image: linear-gradient(to bottom, #004400 0%, #009900 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff004400', endColorstr='#ff009900', GradientType=0);
    background-color: #009900;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*start masti*/
.mast{
    position: relative;
    max-width: 700px;
    min-width: 240px;
    z-index: -100;
}

.mast_pika {
    left:-25%;
    top:40px;
    position: absolute;
}

.mast_krest {
    position: absolute;
    right:-20%;
    top:30px;
}

.mast_buben {
    position: absolute;
    right:0px;
    top:100px;
}

.mast_cherv {
    position: absolute;
    /*left:-15%;*/
    /*top:480px;*/

    top:220px;
    left:-12%;
    z-index: 90 !important;
}
/* end masti*/

.content img {
    padding-right:0px;
    padding-left:0px;
}

.bg-transparent {
    background: none;
}

.bg-red2 {
    background-image: -o-linear-gradient(top, #F00000 0%, #580000 100%);
    background-image: -webkit-linear-gradient(top, #F00000 0%, #580000 100%);
    background-image: linear-gradient(to bottom, #d51909 0%, #8c0c00 100%);
    background-color: #aa0915;
    color:palegoldenrod !important;
}

.form-control {
    background: none;
    color:floralwhite;
}

.form-control:focus {
    box-shadow: 0 0 5px #f9bf00;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #f9bf00;
}

.tab-content {
    padding-left: 40px;
    padding-right: 40px;
}

.btn-green {
    background-image: -webkit-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: -o-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: linear-gradient(to bottom, #00D000 0%, #005800 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00D000', endColorstr='#ff005800', GradientType=0);
    background-color: #008800;
    color:white;

}

.btn-green:hover {
    background-image: -webkit-linear-gradient(top, #F00000 0%, #580000 100%);
    background-color: #aa0915;
    color:black;
}

.control-label {
    color:#888;
}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 1%; /* height of link element */
    right: 25%; /* padding from the left side of the window */
    z-index: 1000;
}

.btn-top {
    padding: 10px;
    border-radius: 15px;
    background-color: green;
    color: yellowgreen;
}

.btn-top:hover {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

/* end back to top */

#games {
    min-height:240px;
    max-height:600px;
    overflow-y: scroll;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .container-narrow {
        max-width: 400px;
    }
}